/*------------ главная обертка
------------*/
.b-wrapper {
	width: 1224px; 
	margin: 53px auto 0;
	position: relative;
}


/*------------- панель с серым низом
-------------*/
.b-panel {
	margin-bottom: 24px;
	overflow: hidden; 
	background: $white; 
	border-radius: 8px; 
	border: 1px solid $grey1; 
	box-shadow: 1px 3px 3px transparentize($grey2, .9);
}
	
	.b-panel__top {
		padding: 24px 32px;
	}
	
	.b-panel__bottom {
		border-top: 1px solid $grey1;
		background: $grey3; 
		padding: 15px 32px; 
		display: flex; 
		flex-direction: row; 
		align-items: center;
	}
		
		.b-panel__bottom_pink {
			background: $pink; 
			padding-top: 23px;
			padding-bottom: 23px;
		}
	
	
/*------------------- блок поиска
-------------------*/
.b-search {
	position: relative;
}
	
	.b-search__ico {
		position: absolute;
		width: 18px; 
		height: 18px; 
		top: 50%;
		left: 16px;
		@include _-transform(translateY(-50%));
	}
	
	input[type=text].b-search__text,
	.b-search__text {
		width: 336px; 
		border-color: $grey1;
		padding: 0 16px 0 42px;
		&:focus {
			border-color: $green-ui;
		}
	}
	
	
/*------------------- Обертка для select
-------------------*/				
.b-select {
	position: relative;
}

	.b-select__arrow  {
		width: 10px; 
		height: 6px;
		position: absolute; 
		right: 12px; 
		z-index: 1; 
		pointer-events: none; 
		top: 50%; 
		@include _-transform(translateY(-50%));
		use {
			stroke: $grey4;
		}
	}
	
	.b-select_light {
		margin-left: 27px;
		select {
			background: transparent;
			border-color: transparent; 
			&:focus {
				border-color: $green-ui;
			}
		}
	}
	
		.b-select__arrow_light {
			margin-top: 1px;
			use {
				stroke: $main-color;
			}
		}
	

/*------------------- основное содержимое
-------------------*/
.b-content {
	display: flex; 
	flex-direction: row-reverse; 
	justify-content: space-between; 
	align-items: flex-start;
}


/*--------------------- меню
---------------------*/
.b-menu {
	width: 264px; 
	position: sticky;
	top: 0;
	overflow: hidden;
	pointer-events: none;
}

	.b-menu__sandwich { display: none; }

	.b-menu__list {
		background: $white;
		border: 1px solid $grey1; 
		border-radius: 8px;
		pointer-events: auto;
	}

	.b-menu__elem {
		position: relative;
		height: 51px;
		border-bottom: 1px solid $grey1;
	}
		
		.b-menu__elem:last-child {
			border-bottom: 0;
		}

		.b-menu__lnk,
		.b-menu__lnk:link,
		.b-menu__lnk:visited,
		.b-menu__lnk:hover,
		.b-menu__lnk:active	{
			text-decoration: none; 
			display: block; 
			height: 100%;
			width: 100%;
			line-height: 51px;
			color: $main-color;
			padding-left: 42px; 
		}
			
		.b-menu__lnk:hover,
		.b-menu__lnk:active {
			background: $grey3;
		}
		
			.b-menu__lnk_act,
			.b-menu__lnk_act:link,
			.b-menu__lnk_act:visited,
			.b-menu__lnk_act:hover,
			.b-menu__lnk_act:active {
				background: $grey1;	
				cursor: default;
			}
		
	.b-menu__ico {
		width: 18px;
		height: 18px; 
		left: 16px; 
		top: 50%; 
		position: absolute;
		@include _-transform(translateY(-50%));
	}
		
/*-------------------- центральная часть страницы
--------------------*/
.b-center-zone {
	width: 936px;
}


/*-------------------- основная финансовая информация
--------------------*/
.b-main-info {
	display: flex; 
	justify-content: space-between;
}

	.b-main-info__left {}
	.b-main-info__right {
		font-family: $font2;
	}
	
	.b-main-info__head {
		padding-left: 26px; 
		position: relative; 
		font-size: 14px; 
		line-height: 20px;
		margin-bottom: 12px;
	}
		
		.b-main-info__head__ico {
			width: 18px; 
			height: 18px; 
			top: 50%; 
			left: 0; 
			position: absolute;
			@include _-transform(translateY(-50%));
		}
		
	.b-main-info__money {
		font-size: 0;
		line-height: 16px;
	}
	
		.b-main-info__money__total {
			color: $green;
			font-size: 24px;
			white-space: nowrap;
			margin-right: 10px;
		}
		
		.b-main-info__money__in-dollar {
			color: $grey4;
			font-size: $font-size;
			white-space: nowrap;
		}
		
	.b-main-info__id {
		color: $grey5;
		line-height: 20px;
		margin-bottom: 4px;
	}
	
	.b-main-info__id-value {
		padding-right: 26px;
		position: relative;
		overflow: hidden;
		input[type=text] {
			height: 20px;
			border: 0;
			line-height: 20px;
			padding: 0;
			width: auto;
			caret-color: transparent;
		}
	}
		
		.b-main-info__id-value__ico {
			width: 18px; 
			height: 18px; 
			top: 50%; 
			right: 0; 
			position: absolute;
			cursor: pointer;
			@include _-transform(translateY(-50%)); 
		}
		
/*------------------- дополнительная служебная информация
-------------------*/
.b-service-info {
	display: flex;
	flex-direction: row;
}
	
	.b-service-info__elem {
		padding: 0 32px;
		border-left: 1px solid $grey6;
	}
	
		.b-service-info__elem:first-child {
			border-left: 0;
			padding-left: 0;
		}
		
	.b-service-info__head {
		font-size: 14px;
		 line-height: 20px;
	}
	
	.b-service-info__status {
		position: relative; 
		padding-left: 26px; 
		color: $green;
	}
	
		.b-service-info__status__ico {
			width: 18px; 
			height: 18px; 
			top: 50%; 
			left: 0; 
			position: absolute;
			@include _-transform(translateY(-50%)); 
		}
	
						
/*-------------------- Табы
--------------------*/
.b-tabs {
	padding: 0 24px 0; 
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	margin: 8px -32px 0; 
	position: relative;
}

	.b-tabs:before {
		content: '';
		position: absolute; 
		top: 45px; 
		left: 0; 
		right: 0; 
		height: 1px; 
		background: $grey1;
	}

	.b-tabs__head {
		z-index: 1;   
		height: 46px; 
		line-height: 48px; 
		margin: 0 16px; 
		font-weight: 600; 
		letter-spacing: 0.03em; 
		text-transform: uppercase; 
		font-size: 12px; 
		cursor: pointer;
	}
		
		.b-tabs__head_order1 { order: 1; }
		.b-tabs__head_order2 { order: 2; }
		.b-tabs__head_order3 { order: 3; }
		.b-tabs__head_order4 { order: 4; }
		.b-tabs__head_order5 { order: 5; }
	
	.b-tabs__head-radio {
		@include _-appearance(none);
	}
	
		.b-tabs__head-radio:checked {
			& + .b-tabs__head {
				 line-height: 46px; 
				 border-width: 1px 1px 0;
				 border-style: solid; 
				 border-color: $grey1; 
				 border-radius: 6px 6px 0 0; 
				 color: $green; 
				 padding: 0 15px;
				 margin: 0;
				 background: $white;
				 & + .b-tabs__content {
					 display: block;
				 }
			}
		}
		
	.b-tabs__content {
		display: none;
		z-index: 1; 
		order: 10; 
		width: 100%; 
		padding: 40px 0 16px;
	}
	
	.b-tabs__form {
		display: inline-grid; 
		grid-template-columns: 160px minmax(auto, 296px); 
		grid-column-gap: 16px;
		grid-row-gap: 24px; 
	}
	
		.b-tabs__form__dt {
			text-align: right;
			align-self: center;
			display: flex;
			justify-content: flex-end;
		}
		
			.b-tabs__form__dt_start {
				align-self: flex-start;
			}
		
		.b-tabs__form__dd {}
		
			.b-tabs__form__dd_input-select {
				display: grid; 
				grid-template-columns: 1fr 80px;
				grid-column-gap: 24px;
			}

			.b-tabs__form__dd_slider {
				display: flex;
				flex-direction: row;
				align-items: center;
			}
			
			.b-tabs__form__dd_free {
				margin-bottom: 9px;
			}
			
			.b-tabs__form__dd__slider-info {
				margin-left: 16px;
			}
			
			.b-tabs__form__dd__checkbox-wrap {
				clear: both;
				white-space: nowrap;
			}
			
			.b-tabs__form__dd__slider-wrap {
				width: 218px;
				top: -2px;
				position: relative;
			}
			
		.b-tabs__form__fieldset {
			margin-bottom: 24px;
		}
		
		.b-tabs__form__radio-wrap {
			clear: both;
			& + & {
				margin-top: 16px;
			}
		}

/*-------------- обертка для валюты в инпуте
--------------*/
.b-currency {
	position: relative;
	input[type=text] {
		padding-left: 23px ;
	}	
}

	.b-currency:before {
		content: '';
		position: absolute;
		left: 12px;
		top: 50%;
		@include _-transform(translateY(-50%));
	}
	
	.b-currency[data-currency='dollar']:before { content: '$'; }
	.b-currency[data-currency='euro']:before { content: '€'; }
	.b-currency[data-currency='rouble']:before { content: '₽'; }
	