html, body {
	background: $bg;
	line-height: $line-height;
}

html, body, input, select, option {
	font-size: $font-size;
	font-family: $font;
	color: $main-color;
	font-weight: 400;
}

input[type=text]::-webkit-input-placeholder	{  @include _-placeholder; }
input[type=text]::-moz-placeholder          {  @include _-placeholder; }
input[type=text]:-moz-placeholder           {  @include _-placeholder; }
input[type=text]:-ms-input-placeholder     	{  @include _-placeholder; } 

/* -------------- поля ввода
---------------*/
input[type=text],
input[type=number] {
	padding: 0 12px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 0;
	box-shadow: none;
	width: 100%;
	border: 1px solid $grey7; 
	background: $white;
	border-radius: 6px;
	@include _-transition(border-color 0.3s ease);
	&:focus {
		border-color: $green-ui;
	}
}


/*---------------------- кнопки
---------------------*/
input[type=button],
input[type=submit],
input[type=reset],
button {
	text-align: center;
	position: relative;
	display: block;
	overflow: hidden;
	cursor: pointer;
	white-space: nowrap;
	border-width: 1px;
	border-style: solid;
	padding: 0 24px;
	margin: 0;
	height: 48px;
	line-height: 46px;
	border-radius: 8px;
	@include _-transition(#{"background 0.3s ease, color 0.3s ease"});
	& + & {
		margin-left: 16px;
	}
}

input[type=button],
input[type=submit],
button {
	color: $white;	
	border-color: $green-ui;
	background: $green-ui;
	&:focus {
		border-color: $white;
	}
	&:hover {
		background: transparentize($green-ui, .2);
	}
}

input[type=reset] {
	color: $main-color;
	border-color: $grey7;
	background: $white;
	&:focus {
		border-color: $green-ui;
	}
	&:hover {
		color: $white;
		background: $grey7;
	}
}


select {
	border: 0;
	height: 40px;
	border-radius: 6px;
	margin: 0;
	padding-left: 8px;
	padding-right: 25px;
	width: 100%;
	height: 40px;
	border: 1px solid $grey7;
	border-radius: 6px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	@include _-appearance(none);
	&:focus {
		border-color: $green-ui;
	}
}



/*--------------------- лейблы
---------------------*/
label {
	position: relative;
	cursor: pointer;
}

/*
		END	Элементы управления
*/



img {
	max-width: 100%;
}

a,
use {
	@include _-transition(all 0.3s ease);
}

a,
a:link,
a:visited { 
	color: $blue;
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	padding: 4px 0;
	line-height: 32px;
	font-size: 24px;
}


svg {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.none {
	display: none !important;
}


@media screen and (max-width: $breakpoint-mobile) {	
	input[type=button],
	input[type=submit],
	input[type=reset],
	button {
		padding: 0 16px;
	}
}