input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

.b-checkbox {
	padding-left: 36px;
}

	.b-checkbox__ico {
		width: 24px;
		height: 24px;
		border: 1px solid #A9ABAE;
		position: absolute;
		left: 0;
		top: -3px;
		border-radius: 4px;
		
		input[type=checkbox]:focus + &,
		input[type=checkbox]:checked + & {
			border-width: 2px;
			border-color: #2EB670;
		}
		
		svg {
			width: 13px;
			height: 9px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			display: none;
			input[type=checkbox]:checked + & {
				display: block;
			}
		}
	}

