$bg: #F7F7F7;
$main-color: #2F2F30;
$font-size: 16px;
$line-height: 24px;
$font: 'Work Sans', Arial, Helvetica, sans-serif;
$font2: 'Source Code Pro', 'Courier New', monospace;

$grey1: #DBDCDE;
$grey2: #3E3F40;
$grey3: #FAFAFA;
$grey4: #6C6D6F;
$grey5: #919293;
$grey6: #D7D8DA;
$grey7: #A9ABAE;

$white: #fff;
$green: #00a651;
$green-ui: #2EB670;
$pink: #FFFBEC;
$blue: #6665DD;

