$track-color: $grey1;
$track-left-color: $green-ui;
$thumb-color: $green-ui;

$thumb-radius: 19px;
$thumb-height: 19px;
$thumb-width: 19px;
$thumb-border-focus: $white;

$track-width: 100%;
$track-height: 3px;
$track-shadow-color: $grey1;
$track-border-width: 0px;
$track-border-color: transparent;
$track-radius: 3px;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
	box-shadow: none;
}

@mixin track {
	cursor: default;
	height: $track-height;
	width: $track-width;
	@include _-transition(all .2s ease);
}

@mixin thumb {
	border: 0;
	background: $thumb-color;
	border-radius: $thumb-radius;
	box-sizing: border-box;
	cursor: default;
	height: $thumb-height;
	width: $thumb-width;
}

[type='range'] {
  width: $track-width;
  background: $track-color;
  border-radius: 2px;
  height: $track-height;
  width: 100%;
  outline: none;
  @include _-transition(background 0.3s ease-in);
  @include _-appearance(none);

	&::-moz-focus-outer {
		border: 0;
	}

	&:focus {
		outline: 0;

		&::-webkit-slider-runnable-track {
		}

		&::-ms-fill-lower {
			background: $track-color;
		}

		&::-ms-fill-upper {
		}
	}

	&::-webkit-slider-runnable-track {
		@include track;
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius;
	}

	&::-webkit-slider-thumb {
		@include thumb;
		@include _-appearance(none);
		margin-top: ( math.div(-$track-border-width * 2 + $track-height, 2) -  math.div($thumb-height, 2));
	}
	
	&:focus::-webkit-slider-thumb {
		border: 1px solid $thumb-border-focus;
	}

	&::-moz-range-track {
		@include track;
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius;
		height:  math.div($track-height, 2);
	}
	
	&::-moz-range-progress {
		background-color: $track-left-color;
	}

	&::-moz-range-thumb {
		@include thumb;
	}
	&:focus::-moz-range-thumb {
		border: 1px solid $thumb-border-focus;
	}

	&::-ms-track {
		@include track;
		background: transparent;
		border-color: transparent;
		border-width:  math.div($thumb-height, 2) 0;
		color: transparent;
	}

	&::-ms-fill-lower {
		border: $track-border-width solid $track-border-color;
		border-radius: ($track-radius * 2);
		background: $track-left-color;
	}

	&::-ms-fill-upper {
		border: $track-border-width solid $track-border-color;
		border-radius: ($track-radius * 2);
	}

	&::-ms-thumb {
		@include thumb;
		margin-top:  math.div($track-height, 4);
	}

	&:disabled {
		&::-webkit-slider-thumb,
		&::-moz-range-thumb,
		&::-ms-thumb,
		&::-webkit-slider-runnable-track,
		&::-ms-fill-lower,
		&::-ms-fill-upper {
			cursor: not-allowed;
		}
	}
}